extends ../layouts/default

block content
  div.parallax-container.valign-wrapper
    div.parallax: img(src="/images/san_francisco.jpg")
    section.container.center-align.white-text.caption
      h1.header Marcellino Ornelas
      h4 Full Stack Web Developer
  div.section.white: div.row.container.center-align
    h3  Want your own website?
    p.flow-text Get your dreams to come to life and contact me today for your free quote
    a.btn.waves-effect.waves-light(href='/contact-us') Contact Us
  div.parallax-container
    div.parallax: img(src="/images/coding.jpg")
