
mixin social-links
  .social.fx
    a(href='https://github.com/marcellino-ornelas', target="_blank")
     i.fa.fa-lg.fa-github(aria-hidden="true")
    a(href="https://www.linkedin.com/in/marcellino-ornelas/", target="_blank")
     i.fa.fa-lg.fa-linkedin-square(aria-hidden="true")
    a(href='mailto:marcellino.ornelas@gmail.com', target="_blank")
     i.fa.fa-lg.fa-envelope-o(aria-hidden="true")
