
mixin social-links
  .social.fx
    a(href= admin.github, target="_blank")
     i.fa.fa-lg.fa-github(aria-hidden="true")
    a(href= admin.linkedIn, target="_blank")
     i.fa.fa-lg.fa-linkedin-square(aria-hidden="true")
    a(href= admin.website, target="_blank")
     i.fa.fa-lg.fa-envelope-o(aria-hidden="true")