/*
 * Home Page
*/

.home {
	h1:nth-child(1n + 1) {
		margin-top: 0px;
	}

	// intro
	.home-intro {
		&__details {
			font-size: 1.4em;
			line-height: 1;

			@media @tablet {
				font-size: 1em;
			}
		}

		&__name,
		&__role {
			text-shadow: 1px 1px 2px #3e3e3e;
			@media @phone {
				text-shadow: 1px 1px 1px #000000;
			}
		}

		&__name {
			margin-bottom: 0px;
			font-family: 'Fredericka the Great', cursive;
			@media @phone {
				color: @main-color;
			}
		}

		&__role {
			font-family: 'VT323', monospace;
			font-style: italic;
			letter-spacing: 3px;
			word-spacing: -5px;
			font-size: 1.5em;
			margin-top: 0px;
			color: @main-color;
			@media @phone {
				color: grey;
			}
		}
	}

	// details section
	.home-details {
		padding-top: 4rem;
		padding-bottom: 4rem;

		.pillar__title {
			font-family: 'Cinzel Decorative', cursive;
		}

		.pillar:nth-child(1) .pillar__icon {
			color: @main-color;
		}

		.pillar:nth-child(3) .pillar__icon {
			color: @secondary-color;
		}

		@media @tablet-up {
			.pillar:nth-child(2) {
				font-size: 1.3em;
				width: 340px;
				margin-top: 20px;

				.pillar__description {
					font-size: 1em;
				}
			}
		}

		@media @tablet {
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}

	// contact
	.home-inspire {
		width: 100%;

		.bg {
			max-height: 450px;
		}

		&__headline {
			font-family: 'Cinzel Decorative', cursive;
			margin-bottom: 0px;
			@media @tablet-up {
				font-size: 3em;
				margin-top: 0.5em;
			}
		}

		&__slogan {
			margin-top: 0px;
			margin-bottom: 0px;
		}

		&__link {
			margin-top: 0.5em;

			a {
				font-weight: 500;
				font-size: 2.5em;
				font-family: 'Fredericka the Great', cursive;
				letter-spacing: 5px;
				word-spacing: 10px;
				transition: color 0.5s linear 0.5s;
			}

			a:hover {
				color: @main-color;
			}
		}

		@media @tablet {
			font-size: 0.8em;
		}
	}
}

@media screen and (max-width: 630px) {
	.home .home-contact {
		display: block;
	}
}
