/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-size: @font-size-base;
	// line-height: 1.4;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	min-height: 100%;

	overflow: initial;

	@media screen and (min-width: @sm) {
		.contain {
			overflow: initial;
		}
	}

	@media @tablet {
		font-size: @font-size-tablet;
	}
	// @media @phone {
	// 	font-size: @font-size-mobile;
	// }
}

a {
	text-decoration: none;
	color: inherit;
}

.margin-v(@height) {
	margin-top: @height;
	margin-bottom: @height;
}

h1 {
	.margin-v(25px);
}

h2 {
	.margin-v(23px);
}

h3 {
	.margin-v(20px);
}

h4 {
	.margin-v(18px);
}

h5 {
	.margin-v(17px);
}

h6,
p {
	.margin-v(15px);
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.1em;
}
p,
h6,
input,
label {
	font-size: 1em;
}

// p,
// li,
// span,
// a {
// 	font-family: 'Roboto', sans-serif;
// }

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.validate.error {
	border-bottom-color: red !important;
	box-shadow: 0 1px 0 0 red !important;
}

// .card {
// 	height: 400px;

// 	img {
// 		height: 200px;
// 	}
// }

img {
	width: 100%;
	height: 100%;
}

/******************************************
/* LAYOUT
/*******************************************/

#app {
	display: flex;
	flex-direction: column;
}

@import 'nav.less';

/* Main */

main {
	flex: 1 0 auto;
	height: 100%;
}

.caption {
	height: 60%;
	margin-left: 50px;
}

@import 'pages/home.less';
@import 'pages/profile.less';
@import 'pages/projects.less';
// @import 'pages/contact-me.less';

/* Footer */
footer {
	&.page-footer {
		background-color: @nav-color;
	}

	.footer-copyright {
		background-color: @nav-color;
	}
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.root,
.inherit {
	height: inherit;
}

.contain {
	overflow: hidden;
}

.none {
	display: none;
}

.no-mobile {
	@media @phone {
		display: none;
	}
}
.no-tablet {
	@media @tablet {
		display: none;
	}
}

.only-mobile {
	display: none;
	@media @phone {
		display: initial;
	}
}
.only-tablet {
	display: none;
	@media @tablet {
		display: initial;
	}
}

.desktop-social {
	@bg-color: #eeeeee;
	@border-color: darken(@bg-color, 7%);
	.social-links {
		li {
			padding: 5px 20px;
			// padding-left: 5px;
			// padding-right: 5px;
		}

		li:nth-last-child(1n + 2) {
			border-right: 1px solid @border-color;
		}
	}
	background-color: @bg-color;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid @border-color;
	border-collapse: separate;
	position: fixed;
	bottom: 0;
	right: 10px;
}

.social-links {
	.fx;
}

/*
 * flex
*/
.fx {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.fx-flex(@grow: 1, @shrink: 1, @width) {
	-webkit-box-flex: @grow @shrink @width;
	-webkit-flex: @grow @shrink @width;
	-ms-flex: @grow @shrink @width;
	flex: @grow @shrink @width;
}

.fx-flex(@grow: 1, @shrink: 1) {
	-webkit-box-flex: @grow @shrink;
	-webkit-flex: @grow @shrink;
	-ms-flex: @grow @shrink;
	flex: @grow @shrink;
}

.section {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	@media phone {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	& + .section {
		margin-bottom: 0px;
	}
}

// only add margin to section if its the last one
// * > .section:nth-last-child(1) {
// 	@media phone {
// 		padding-bottom: 2rem;
// 	}
// }

// .space {
// 	margin-top: 1rem;
// 	margin-bottom: 1rem;
// }

.container {
	width: 75%;
	margin: auto;

	@media @tablet {
		width: 85%;
	}

	@media @phone {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.divider {
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 0.5px solid grey;
}

.valign {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.center-align {
	text-align: center;
}

.btn {
	@button-color: lightblue;

	border-color: transparent;
	border-style: none;
	font-size: 24px;

	background-color: @button-color;
	border-radius: 5px;
	color: white;
	display: inline-block;
	padding: 5px 10px;

	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;

	box-shadow+: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
	box-shadow+: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
	box-shadow+: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

	&:hover {
		background-color: darken(@button-color, 10%);
	}
}

/*
 * background section w/ img
*/
.bg {
	height: 580px;
	color: white;
	overflow-y: hidden;
	position: relative;

	.bg-img {
		width: 100%;
		height: inherit;
		position: absolute;
		z-index: 0;
		opacity: 0.7;
	}

	.bg-content {
		position: relative;
		z-index: 1;
		padding: 10px 5%;
		max-height: inherit;
		height: inherit;
	}

	@media @desktop {
		height: 480px;
	}

	@media @tablet {
		height: 380px;
	}

	@media @phone {
		height: 280px;
		color: #545454;

		.bg-img {
			opacity: 0.2;
		}

		.bg-content {
			text-align: center;
		}
	}
}

.social {
	justify-content: space-between;
	flex: 1 0 auto;
	a {
		color: white;
		margin-right: 10px;
		margin-left: 10px;
	}
}

@import './components/pillars.less';

/*
 * Form
*/
.input-field {
	@input-active-color: @secondary-color;

	input,
	textarea {
		&:focus {
			border-bottom-color: @input-active-color;
		}
	}

	.active {
		color: @input-active-color;
	}

	&.error {
		color: red;

		label {
			color: red;
		}

		input,
		textarea {
			border-bottom-color: red;
		}

		.error-message {
			display: initial;
		}
	}

	.error-message {
		display: none;
		color: red;
	}
}

/*
 * Materialize label transisiton
 * https://materializecss.com
*/

/* Text inputs */
input:not([type]),
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='time'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='tel'],
input[type='number'],
input[type='search'],
textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

input:not([type]) + label:after,
input[type='text'] + label:after,
input[type='password'] + label:after,
input[type='email'] + label:after,
input[type='url'] + label:after,
input[type='time'] + label:after,
input[type='date'] + label:after,
input[type='datetime'] + label:after,
input[type='datetime-local'] + label:after,
input[type='tel'] + label:after,
input[type='number'] + label:after,
input[type='search'] + label:after,
textarea + label:after,
.select-wrapper + label:after {
	display: block;
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	-webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
	transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

.input-field {
	position: relative;
	margin-top: 1rem;
}

.input-field label {
	color: #9e9e9e;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 1rem;
	cursor: text;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	text-align: initial;
	-webkit-transform: translateY(12px);
	transform: translateY(12px);
	pointer-events: none;
}

.input-field input:focus + label,
.input-field label:not(.label-icon).active {
	-webkit-transform: translateY(-14px) scale(0.8);
	transform: translateY(-14px) scale(0.8);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

/* Search Field */
.input-field input[type='search'] {
	display: block;
	line-height: inherit;
}

.input-field input[type='search']:focus {
	background-color: #fff;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #444;
}

.input-field input[type='search']:focus + label i,
.input-field input[type='search']:focus ~ .mdi-navigation-close,
.input-field input[type='search']:focus ~ .material-icons {
	color: #444;
}

.input-field input[type='search'] + label {
	left: 1rem;
}

.input-field input[type='search'] ~ .mdi-navigation-close,
.input-field input[type='search'] ~ .material-icons {
	position: absolute;
	top: 0;
	right: 1rem;
	color: transparent;
	cursor: pointer;
	font-size: 2rem;
	-webkit-transition: 0.3s color;
	transition: 0.3s color;
}

/* Textarea */
textarea {
	width: 100%;
	height: 3rem;
	background-color: transparent;
}

textarea {
	overflow-y: hidden;
	/* prevents scroll bar flash */
	padding: 0.8rem 0 1.6rem 0;
	/* prevents text jump on Enter keypress */
	resize: none;
	min-height: 3rem;
}

textarea + label {
	height: 100%;
}

textarea + label::after {
	top: calc(100% - 12px);
}

.input-field textarea:focus + label,
textarea + label:not(.label-icon).active {
	-webkit-transform: translateY(-25px);
	transform: translateY(-25px);
}

/*
 * flash messages
*/

.message {
	display: block;
	border-radius: 10px;
	padding: 20px 10px;
	margin: 10px auto;
}

.message.info {
	color: #03a9f4;
	background-color: #e1f5fe;
}

.message.success {
	color: #4caf50;
	background-color: #c8e6c9;
}

.message.warning {
	color: #ff9800;
	background-color: #ffe0b2;
}

.message.error {
	color: #f44336;
	background-color: #ffebee;
}

/*
 https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
*/
.truncate-text {
	span.read-more {
		cursor: pointer;
		color: @secondary-color;
		font-size: inherit;
		font-weight: inherit;
	}
}

/*
 https://css-tricks.com/forums/topic/on-load-text-effect/#post-168893
 */
.animate-reveal {
	// font: bold 1.5em sans-serif;
	// text-transform: uppercase;
	// letter-spacing: 2px;
	opacity: 0;
	-webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
	-moz-animation: reveal 1s ease-in 1 normal forwards;
	-o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
	animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-o-animation-delay: 0;
	animation-delay: 0;
}

.animate-second {
	-webkit-animation-delay: 500ms;
	-moz-animation-delay: 500ms;
	-o-animation-delay: 500ms;
	animation-delay: 500ms;
}

.animate-third {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

@-webkit-keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@-moz-keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@-o-keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

/*
 https://speckyboy.com/underline-text-effects-css/
 */
.hover {
	text-align: center;
	transition: all 0.2s ease-in-out;
	position: relative;
	&:before,
	&:after {
		content: '';
		position: absolute;
		bottom: 0px;
		width: 0px;
		height: 2px;
		transition: all 0.2s ease-in-out;
		transition-duration: 0.75s;
		opacity: 0;
	}
	&.hover-inward {
		&:before {
			left: 0;
			//width: 50%;
			background-color: @main-color;
		}
		&:after {
			right: 0;
			//width: 50%;
			background-color: @main-color;
		}
	}
	&:hover {
		&:before,
		&:after {
			width: 100%;
			opacity: 1;
		}
		&.hover-inward {
			&:before,
			&:after {
				width: 50%;
			}
		}
	}
}
