/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: @font-size-base;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  min-height:100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a{ color: @link-color}

h1{ font-size: 2em }
h2{ font-size: 1.8em }
h3{ font-size: 1.6em }
h4{ font-size: 1.4em }
h5{ font-size: 1.2em }
p,h6{ font-size: 1em }

ul {
  list-style: none;
}

.validate.error{
  border-bottom-color: red !important;
  box-shadow: 0 1px 0 0 red !important;
}

.card {
  height: 400px;

  img {
    height: 200px;
  }
}

img {
  width: 250px;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Header */

header{
  nav{
    padding: 0px 5px;
    background-color: @nav-color;
  }
}


/* Main */

main{
  flex: 1 0 auto;
}

/* About */
.about-us .collection{
  border: none;
}

.about-us .header{
  align-items: center;
  flex-wrap: wrap;
  > *{
    padding-top: .5em;
  }
  h3{
    margin: 0;
    flex: 2 0 auto;
  }
}

.about-us .social a{
  color: inherit;
}

// .social-list {

//   .social-item {
//     display: flex;
//     padding: 1em 0;
//   }
//    .social-item:nth-child(1n+1){
//     border-top: 1px solid grey;
//    }

//   .social-item-brand{
//     flex: 1 0 auto;
//     margin: 0;
//   }
// }


/* Footer */

footer {
  &.page-footer {
    background-color: @nav-color;
  }

  .footer-copyright {
    background-color: @nav-color;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*
 * flex
*/

.fx{
  display: flex;
}


.social{
  justify-content: space-between;
  flex: 1 0 auto;
  a{
    color: white;
    margin-right: 10px;
    margin-left: 10px;
  }
}

/*
 * flash messages
*/

.message {
  display: block;
  border-radius: 10px;
  padding: 20px 10px;
  // width: 75%;
  margin: 10px auto;

}

.message.info{
  color:#03a9f4;
  background-color:#e1f5fe;
}

.message.success{
  color:#4caf50;
  background-color:#c8e6c9;
}

.message.warning{
  color:#ff9800;
  background-color:#ffe0b2;
}

.message.error{
  color: #f44336;
  background-color:#ffebee;
}

/*
 https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
*/
.truncate-text {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error{
  font-size: 14px;
  color: red;
}
